h1 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h2 {
	margin-top: 15px;
	margin-bottom: 5px;
}

h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 0px;
}

h4.index-heading {
	padding-inline-start: 40px;
}

ul {
	margin-top: 0px;
	padding-inline-start: 40px;
}

a:visited {
	color: blue;
}

p {
	all: initial;
}

.li-structure, .li-function, .li-operator, .li-constant {
	transition: background-color 0.1s ease-in-out;
}

li.undotted {
	list-style-type: none;
}

.hidden {
	display: none !important;
}

.table-container, .hoz-collapse {
	display: flex;
}

table, tr, th, td {
	margin-right: 7px;
	width: 500px;
	border: 1px solid black;
}

tr, th, td {
	padding: 3px;
}

button {
	margin: 5px;
}

.wrapper {
    margin-left: 200px;
    margin-right: 200px;
}

footer {
    text-align: center;
}

span.parent {
    font-weight: lighter;
}
